MainMenu {
	visibility: hidden;
}
footer {
	visibility: hidden;
}
header {
	#visibility:hidden;
}

/* Streamlit Header at the top/*
header.st-emotion-cache-1trbj0g.ezrtsby2{
	border: 4px solid #51FA08;
	font-size=20px;
	#hidden:true;
}

/* Main view area */
div.block-container.st-emotion-cache-13ln4jf.ea3mdgi5 {
	background-color:#EEEEEE;
	border: 2px solid #51FA08;
	padding:0px 0px 0px 0px;
	border-radius:10px;
}

/*section.main.st-emotion-cache-bm2z3a.ea3mdgi8 {
	background-color:#EAE6E5;
	border: 1px solid #fd0a01;
	padding:0px 0px 0px 0px;
	#border-radius:10px;
}*/
 
/* PhonePe Data Analyisis */
div.st-emotion-cache-1jzia57.e1nzilvr2{
	#padding:0% 0% 10% 5%
}

/* Metric boxes */
div.st-emotion-cache-1xarl3l{
	#background-color:#EEEEEE;
	#border: 2px solid #51FA08;
	font-size: 20px;
}

/* Subheaders
div.st-emotion-cache-1jhyzee.e1f1d6gn4{
	border: 2px solid #fd0a01;
	font-size: 15px;
}*/

div.st-emotion-cache-1trbj0g.ezrtsby{
	border: 2px solid #51FA08;
	font-size: 25px;
}

/* Outer most containter 
div.st-emotion-cache-1yiq2ps.ea3mdgi9{
	border: 2px solid #51FA08;
	padding:0px 0px 0px 0px;
}*/

/* Block containter inside the outermost container
div.st-emotion-cache-1jicfl2.ea3mdgi5{
	border: 2px solid #fd0a01;
	padding:0px 0px 0px 0px;
}
*/
